# SQL 50 Select LeetCode Submissions

### Article views

Finds rows where author viewed own article, removes duplicates and names it as id

In [ ]:
Select distinct(author_id) as id
From Views
Where viewer_id = author_id
Order by author_id;

### Recyclable and Low Fat Products

Returns product_id column from Products table where values in low_fats and recyclable have 'yes' values.

In [ ]:

Select product_id From Products
Where low_fats='Y' && recyclable='Y';

### Big Countries

Returns a table with name, population, and area columns with area greater than 30,0000 or population greater than 2,500,000.

In [ ]:
Select name, population, area
From World
Where (area >= 3000000) or (population >= 25000000);

### Find Customer Referee

Returns name column where the referee id is not null or equal to 2.

In [ ]:
Select name
From Customer
Where (referee_id is null) or (referee_id != 2);

### Invalid Tweets

Returns tweet_id column where the tweet length longer than 15 characters. 

(Utilised char_length('String') function which returns **length of string in characters**. Could also use len('string') which returns **length of string in bytes**)

In [ ]:
Select tweet_id From Tweets
Where char_length(content) > 15;