# SQL 50 Select LeetCode Submissions

### Replace Employees ID

Joins tables using ID as key to return name from employees table and unique id from EmployeeUni table.

In [ ]:
Select u.unique_id, e.name
From Employees as e
Left Join EmployeeUni as u
ON e.id = u.id;

### Recyclable and Low Fat Products

Returns product_id column from Products table where values in low_fats and recyclable have 'yes' values.

In [ ]:

Select product_id From Products
Where low_fats='Y' && recyclable='Y';