# SQL 50 Select LeetCode Submissions

### Replace Employees ID

Joins tables using ID as key to return name from employees table and unique id from EmployeeUni table.

In [ ]:
Select u.unique_id, e.name
From Employees as e
Left Join EmployeeUni as u
ON e.id = u.id;

### Product Sales Analysis I

Returns the product_name, year and price using the product_id as the key.

In [ ]:
Select product_name, year, price
From Sales as s
Left Join Product as p
On s.product_id = p.product_id;

### Customer Who visited but did not make any transactions

Where statement: Filters the users who made no transactions
Select + group statement: Gets number of times visited for each customer

In [ ]:
Select v.customer_id, COUNT(Distinct v.visit_id) as count_no_trans
From Visits v
Left Join Transactions t On v.visit_id = t.visit_id
Where t.transaction_id is NULL
Group by v.customer_id;